
.smooth {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


// Nav alternative
#navbar-alt {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  .logo {
    width: 40px;
    @extend .smooth;
    &:hover {
      transform: scale(1.25,1.25);
    }
  }
  .lduong {
    fill: $dark-gray;
  }
  .lduong:hover {
    fill: $brand-primary;
  }
}

.is-at-top.is-stuck {
  width: 100%;
  margin-top: 0em !important;
}

.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}
.top-bar,
.top-bar ul {
  background-color: transparent;
  li {
    background: $white;
  }
}
.top-bar-title {
  display: block;
  float: none;
  .menu-icon {
    margin-top: 18px;
    float: right;
    &:hover:after {
      background: $black;
      box-shadow: 0 7px 0 $black, 0 14px 0 $black;
    }
    &:after {
      background: $brand-primary;
      box-shadow: 0 7px 0 $brand-primary, 0 14px 0 $brand-primary;
    }
  }
}
.title-bar-title {
  padding-top:5px;
  padding-left:7px;
}
#responsive-menu {
  display: inline;
}
@include breakpoint(large) {
  .top-bar,
  .top-bar ul li {
    background: transparent;
  }
  .menu > li > a {
    padding: 1.6rem 1rem;
  }
  .top-bar-title {
    display: inline-block;
  }
}
@include breakpoint(small only) {
  .menu > li > a {
    padding: 0.7rem 0rem;
  }
}
@include breakpoint(medium only) {
  .menu > li > a {
    padding: 0.7rem 0rem;
  }
}