// Custom variables
@mixin padding($padding) {
  padding: $padding;
}
@mixin backgrounds(){
  background-attachment: fixed;
  background-size: cover!important;
  background-position: center;
  background-blend-mode: screen;
}
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


// Theme global
html, body {
  background: $white;
}
a, button, .lduong {
  @extend .smooth;
}
.varColorText {
  color: $brand-primary;
}
.varColorBG {
  background: $dark-gray;
  color: $white;
}
.varBG {
  background: $white;
}
::-moz-selection {
  background: $brand-primary;
  color: $white;
  text-shadow: none;
}
::selection {
  background: $brand-primary;
  color: $white;
  text-shadow: none; }
:focus {
  outline: -webkit-focus-ring-color
  auto 5px;
  outline-color: $brand-primary;
}
blockquote {
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: $white;
  border-left: 0;
  p {
    color: $white;
  }
}
.border {
  border:1px solid $light-gray;
}
.smooth {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.block {
  display: block;
}
h1 {
  font-size: 70px;
  line-height: 1;
  letter-spacing: -5px;
  padding-bottom: .15em;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background: $brand-primary;
    left: 50%;
    margin: 21px 0 0 -22.5px;
  }
}
h2 {
  font-size: 50px;
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: -2px;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background: $brand-primary;
    left: 3%;
    margin: 13px 0 .35em -22.5px;
  }
  @include breakpoint(small only) {
    &:after {
      margin-left: -7px;
    }
  }
  @include breakpoint(medium only) {
    &:after {
      margin-left: -10px;
    }
  }
}
h4 {
  font-size: 30px;
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: -2px;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 3px;
    background: $brand-primary;
    left: 50%;
    margin: 13px 0 1.35em -22.5px;
  }
}
h3, h4, h5, h6 {
  font-family: $body-font-family;
  letter-spacing: -.015rem;
}
h6 {
  font-size: 120%;
  text-transform: uppercase;
}
hr {
  margin:0 auto;
  border-color: $black;
  line-height: 1;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  font-weight: 100;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, $light-gray, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1;
    color: $brand-primary;
    background-color: $white;
    position: relative;
    top: -17px;
    font-size: 30px;
  }
  &.dark:before {
    content: '';
    background: linear-gradient(to right, transparent, $dark-gray, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
}
[type='text'], [type='password'],
[type='date'], [type='datetime'],
[type='datetime-local'], [type='month'],
[type='week'], [type='email'],
[type='number'], [type='search'],
[type='tel'], [type='time'], [type='url'],
[type='color'], textarea,
[type='text']:focus, [type='password']:focus,
[type='date']:focus, [type='datetime']:focus,
[type='datetime-local']:focus, [type='month']:focus,
[type='week']:focus, [type='email']:focus,
[type='number']:focus, [type='search']:focus,
[type='tel']:focus, [type='time']:focus,
[type='url']:focus, [type='color']:focus,
textarea:focus {
  @extend .smooth;
}


/*
// Nav alternative
#navbar-alt {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
.logo {
    width: 40px;
    @extend .smooth;
    &:hover {
      transform: scale(1.25,1.25);
    }
  }
  .lduong {
    fill: $dark-gray;
  }
  .lduong:hover {
    fill: $brand-primary;
  }
}.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}
.top-bar,
.top-bar ul {
  background-color: transparent;
  li {
    background: $white;
  }
}
.top-bar-title {
  display: block;
  float: none;
  .menu-icon {
    margin-top: 18px;
    float: right;
    &:hover:after {
      background: $black;
      box-shadow: 0 7px 0 $black, 0 14px 0 $black;
    }
    &:after {
      background: $brand-primary;
      box-shadow: 0 7px 0 $brand-primary, 0 14px 0 $brand-primary;
    }
  }
}
.title-bar-title {
  padding-top:5px;
  padding-left:7px;
}
#responsive-menu {
  display: inline;
}
@include breakpoint(large) {
  .top-bar,
  .top-bar ul li {
    background: transparent;
  }
  .menu > li > a {
    padding: 1.6rem 1rem;
  }
  .top-bar-title {
    display: inline-block;
    .menu-icon {
    }
  }
}
@include breakpoint(small only) {
  .menu > li > a {
    padding: 0.7rem 0rem;
  }
}
@include breakpoint(medium only) {
  .menu > li > a {
    padding: 0.7rem 0rem;
  }
}
*/

// Nav area
#navbar {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  z-index: 5 !important;
  .logo {
    width: 40px;
    @extend .smooth;
    &:hover {
      transform: scale(1.25,1.25);
    }
  }
  .lduong {
    fill: $dark-gray;
  }
  .lduong:hover {
    fill: $brand-primary;
  }
}
.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}
.top-bar,
.top-bar ul {
  background-color: transparent;
  li {
    background: $white;
  }
}
.top-bar-title {
  display: block;
  float: none;
  .menu-icon {
    margin-top: 18px;
    float: right;
    &:hover:after {
      background: $black;
      box-shadow: 0 7px 0 $black, 0 14px 0 $black;
    }
    &:after {
      background: $brand-primary;
      box-shadow: 0 7px 0 $brand-primary, 0 14px 0 $brand-primary;
    }
  }
}
.title-bar-title {
  padding-top:5px;
  padding-left:7px;
}
#responsive-menu {
  display: inline;
}
@include breakpoint(large) {
  .top-bar,
  .top-bar ul li {
    background: transparent;
  }
  .menu > li > a {
    padding: 1.6rem 1rem;
  }
  .top-bar-title {
    display: inline-block;
    .menu-icon {
    }
  }
}
@include breakpoint(small only) {
  .menu > li > a {
    padding: 0.7rem 0rem;
  }
}
@include breakpoint(medium only) {
  .menu > li > a {
    padding: 0.7rem 0rem;
  }
}
.tacky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  border-top: 0;
}
.tacky-hack {
  margin-top: 65px;
}



// Hero area
#hero  {
  height: 100vh;
  background-color: $black;
  text-align: center;
  @include backgrounds();
  //background-image:url('http://s8.postimg.org/lf2udl5np/4_Aihmii.jpg');
  h1 {
    color: $white;
    &:after {
      height: 5px;
      left: 50%;
    }
  }
  h5 {
    color: $white;
  }
}
.valign {
  display: inline-block;
  @include vertical-align();
}
.logo-hero {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.lduong {
  fill: $white;
}

$strokeWidth: 4px;
$strokeColor: white;

$timing: 2.6s;
// $easing: ease-in-out;
$easing: cubic-bezier(0.77, 0, 0.175, 1);

.scroll-down-dude {
  margin-top: 20px;
}
.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
  display: block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: $strokeWidth solid $strokeColor;
	border-right: $strokeWidth solid $strokeColor;
  margin-left: auto;
  margin-right: auto;
}

.scroll-down-dude:before {
	animation: down-arrow-before $timing $easing infinite;
}

.scroll-down-dude:after {
	animation: down-arrow-after $timing $easing infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}


// Profile area
#profile {
  @include padding(6rem 0);
  img.icon {
    margin: 2rem auto 0 auto;
    width: 100px;
    display: block;
  }
  h6 {
    margin-top: 2rem;
    text-transform: uppercase;
  }
}


//Resume area
#resume {
  @include padding(6rem 0);
  hr {
    @include padding(2rem 0);
  }
  /*@include breakpoint(small only medium only) {
    .large-3.columns p {
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }*/
  .large-3.columns p {
    margin-bottom: 0;
  }
  .key li {
    margin-bottom: 1rem;
    &:before {
      content: "// ";
      color: $brand-primary;
      margin-left: -15px;
      font-weight: bold;
    }
  }
  .history b:before {
    content:'// ';
    color: $brand-primary;
    margin-left: -15px;
  }
  .gap-bot > li {
    margin-bottom: 1.6em;
  }
}
a.accordion-title {
  padding: 0;
  color: $black;
  p {
    margin-bottom: 0;
  }
  &:before {
    top: 13px;
    right: 0rem;
    color: $brand-primary;
  }
  b {
    color:$black;
    @extend .smooth;
    &:hover {
      color: darken($brand-primary, 10%);
    }
    &:before {
      content:'// ';
      color: $brand-primary;
    }
  }
  .float-right {
    padding-right: 1rem;
  }
}
.accordion-item,
.gap-bot {
  margin-bottom: 1.6em;
}
.gap-top {
  margin-top: 1.6em;
}
b:before {
  content:'// ';
  color: $brand-primary;
  margin-left: -15px
}
.ref b:before {
  content:"";
  margin-left: 0;
}



// Slogan area
#slogan {
  @include padding(5rem 0 6rem 0);
  @extend .text-center;
  background: $black;
  color: $white;
  h2 {
    letter-spacing: -1px;
    font-size: 2.4em;
    text-transform: inherit;
    margin-bottom: -5px;
    line-height: 1.25;
    font-weight: lighter;
    &:after {
    height: 0px;
    }
  }
  p {
    font-weight: lighter;
  }
  @include breakpoint(large) {
    h2 {
    font-size: 425%;
    margin-bottom: -10px;
    }
    p {
      font-size: 200%;
    }
  }
}



// Projects area
#projects {
  @include padding(6rem 0);
  .row {
  }
  h5 {
    margin-bottom: 1.5rem;
  }
  img {
    margin-bottom: 2rem;
    border-bottom: 1px solid lighten($light-gray, 25%);
  }
  .row:last-child {
    padding-top: 2rem;
  }
  .fade-in {
    @include mui-fade(in, $duration: 1s);
  }
  .fade-out {
    @include mui-fade(out, $duration: 1s);
  }
}
.close-button {
  position: fixed;
  right: 2.25rem!important;
  top: 2rem!important;
  font-size: 1.5em;
  border: 1px solid $brand-primary;
  background-color: $white;
  padding: .75rem 1rem;
  color: $brand-primary;
  &:hover {
    color: darken($brand-primary,10%)!important;
  }
}



// Abilities area
#abilities {
  @include padding(6rem 0);
  .row {
    @include padding(1rem 0);
    &:first-child {
        padding-bottom: 0;
    }
    &:nth-child(3) {
      padding-bottom: 0;

    }
    ul {
      padding-top: 0;
    }
    li img {
      float: right;
      margin-top: 3px;
    }
    li:hover  {
      background-color: lighten($light-gray, 30%);
    }
  }
}



// Quote
#quote {
  background: $brand-primary;
  font-weight: lighter;
  @include padding(3em 0 2em 0);
  .qod-text {
    font-size: 2.4em;
    line-height: 1.25;
    margin-bottom: 0;
    color:$white;
  }
  .qod-author {
      font-size: 1.0em;
      padding-top: 5px;
      @extend .text-right;
      a {
        color: lighten($brand-primary, 30%);
      }
      a:hover {
        color: darken($brand-primary, 20%);
      }
  }
}







//Contact area
#contact {
  @include padding(6em 0 1em 0);
  label {
    text-align: left;
  }
}



// Footer area
footer {
  @include padding(2em 0 2em 0);
  background: $black;
  color: darken($light-gray, 30%);
  font-size: 80%;
  text-align: center;
  .misc {
    margin-top: 3em;
  }
  a {
    display: inline-block;
    color: darken($light-gray, 30%);
  }
  .logo {
    height: 3em;
    @extend .smooth;
    &:hover {
      transform: scale(1.25,1.25);
    }
    .lduong {
      fill: darken($light-gray, 30%);
      &:hover {
        fill: darken($brand-primary, 10%);
      }
    }
  }
  .menu {
    //margin-bottom: .5em;
    font-size: 30px;
    a {
      color: $medium-gray;
      @extend .smooth;
      &:hover {
        color: $brand-primary;
        transform: scale(1.75,1.75);
      }
    }
  }
  .misc {
    .links,
    .copyright {
      padding: .8em 0;
    }
    p {
      margin-bottom: 0;
    }
  }
}
