// Theme global
body {
  letter-spacing: -1px;
  background: #0d0d0d;
}
a, button, .lduong {
  @extend .smooth
}
.swapColorText {
  color: $brand-primary;
}
.swapColorBG {
  background: $brand-primary;
  color: $white;
}
::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: none; }
blockquote {
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: $white;
  border-left: 0;
  p {
    color: $white;
  }
}

// Recycle area
.padded {
  padding-top: 55px;
  padding-bottom: 55px;
}
.smooth {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.bg {
  background: url('../img/congruent_outline.png') repeat center;
}


// Nav area
#identity {
  padding-top: 20px;
  background-color: transparent;
  .top-bar,
  .top-bar ul {
    background-color: transparent;
    li {
      background: $white;
    }
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .lduong {
    fill: $brand-primary;
  }
  .lduong:hover {
    fill: $white;
  }
  .top-bar-title {
    display: block;
    float: none;
    .menu-icon {
      margin-top: 30px;
    }
  }
  @include breakpoint(medium) {
    .top-bar,
    .top-bar ul li {
      background: transparent;
    }
    .menu > li > a {
      padding: 2.5rem 1rem
    }

    .top-bar-title {
      display: inline-block;
      float: left;
      .menu-icon {
        margin-top: inherit;;
      }
    }
  }

}


// Hero area
#hero {
  padding-top: 8em;
  padding-bottom: 13em;
  @extend .text-center;
  color: $white;
  h1 {
    font-size: 70px;
    line-height: .9em;
    letter-spacing: -5px;
    padding-bottom: .15em;
  }

  h1:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background: #FFF;
    left: 50%;
    margin: 21px 0 0 -22.5px;
  }
  h5 {
    text-transform: uppercase;
  }
  @include breakpoint(large) {
    h1 {
    }
  }
}

// Slogan area
.slogan {
  padding-top: 55px;
  background: $white;
  @extend .text-center;
  h2 {
    line-height: 1em;
    letter-spacing: -2px;
  }
  h3 {
    font-weight: 100;
    font-family: $body-font-family;
  }
  @include breakpoint(medium) {
    h2 {
      font-size: 50px;
    }
    h3 {
        font-size: 30px;
    }
  }
  @include breakpoint(large) {
    h2 {
      font-size: 70px;
    }
    h3 {
        font-size: 35px;
    }
  }
}

// Service area
#services {
  background: $white;
  @extend .padded;
  @extend .text-center;
  img {
    padding-bottom: 2.5em;
  }
}


// Quote
#quote .qod-text {
    font-size: 2.4em;
    line-height: 1.2em;
    margin-bottom: 0;
}
#quote .qod-author {
    font-size: 1.0em;
    padding-top: 5px;
    a {
      color: $white;
    }
    a:hover {
      color: darken($brand-primary, 10%);
    }
}

// Folio area
#folio {
  background: $white;
  padding-top: 55px;
  img {
    padding-bottom: 20px;
  }
}

// Social area
#social {
  @extend .padded;
}

// Bio area
#bio {
  background: #1b1b1b;
  color: #939393;
  @extend .padded;
}

// Capabilities
#capabilities {
  background: $white;
  @extend .padded;
  > .row:first-child {
    padding-bottom: 50px;
  }
}

// Footer area
footer {
  background: #0d0d0d;
  color: $black;
  padding-top: 20px;
  padding-bottom: 10px;
}
