// Theme global
body {
  background: #0d0d0d;
}
a, button, .lduong {
  @extend .smooth
}
.swapColorText {
  color: $light-gray;
}
.swapColorBG {
  background: $dark-gray;
  color: $white;
}
.whiteBG {
  background: $white;
}
::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: none; }
blockquote {
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: $white;
  border-left: 0;
  p {
    color: $white;
  }
}

// Recycle area
.padded {
  padding-top: 6em;
  padding-bottom: 8em;
}
.smooth {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
h1 {
  font-size: 70px;
  line-height: .9em;
  letter-spacing: -5px;
  padding-bottom: .15em;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background: $white;
    left: 50%;
    margin: 21px 0 0 -22.5px;
  }
}

h2 {
  font-size: 50px;
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: 100;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 3px;
    background: $black;
    left: 50%;
    margin: 13px 0 0 -22.5px;
  }
}
h3, h4 {
  font-weight: 100;
  font-family: $body-font-family;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h5 {
    font-family: $body-font-family;
    text-transform: uppercase;
}

.bg {
  background:$white /* url('../img/congruent_outline.png') repeat center*/;
  border-bottom: 1px solid $medium-gray;
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);

}
hr {
  margin:0 auto;
  max-width: 100%;
}


// Nav area
#identity {
  padding-top: 20px;
  background-color: transparent;
  .top-bar,
  .top-bar ul {
    background-color: transparent;
    li {
      background: $white;
    }
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .lduong {
    fill: $dark-gray;
  }
  .lduong:hover {
    fill: $brand-primary;
  }
  .top-bar-title {
    display: block;
    float: none;
    .menu-icon {
      margin-top: 30px;
    }
  }
  @include breakpoint(medium) {
    .top-bar,
    .top-bar ul li {
      background: transparent;
    }
    .menu > li > a {
      padding: 2.5rem 1rem
    }

    .top-bar-title {
      display: inline-block;
      float: left;
      .menu-icon {
        margin-top: inherit;;
      }
    }
  }

}

// Hero area
#hero {
  padding-top: 6em;
  padding-bottom: 13em;
  @extend .text-center;
  color: $black;
}

// Bio area
#bio {
  @extend .whiteBG;
  /*background: #1b1b1b;
  color: #939393;*/
  @extend .padded;
  h2 {
    &:after {
      left: 5.5%;
      margin-bottom: .35em;
    }
  }
  i {
    font-size: 240px;
    display: block;
  }
}

// Specialized
#specialized {
  @extend .text-center;
  @extend .padded;
  @extend .whiteBG;
  .medium-4.columns {
    margin-top: 2em;
  }
  h3 {
    margin-top: .5em;
    margin-bottom: 2em;
  }
  h5 {
    text-transform: uppercase;
  }
  i {
    font-size: 80px;
    font-weight: lighter;
  }
}

// Slogan area
#slogan {
  @extend .padded;
  @extend .text-center;
  background: $white;
  h2 {
    line-height: 1em;
    letter-spacing: -1px;
    font-size: 30px;
    &:after {
    background: $black;
    height: 3px;
    }
  }
  @include breakpoint(large) {
    h2 {
    font-size: 40px;
    }
  }
}

// Service area
#services {
  background: $white;
  @extend .padded;
  @extend .text-center;
  img {
    padding-bottom: 2.5em;
  }
}


// Quote
#quote {
  background: $white;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  .qod-text {
    font-size: 2.4em;
    line-height: 1.2em;
    margin-bottom: 0;
    color:$black;
  }
  .qod-author {
      font-size: 1.0em;
      padding-top: 5px;
      a {
        color: $black;
      }
      a:hover {
        color: darken($brand-primary, 10%);
      }
  }
}

// Folio area
#folio {
  background: $white;
  padding-top: 55px;
  @extend .text-center;
  img {
    padding-bottom: 20px;
  }
}

// Social area
#social {
  @extend .padded;
  @extend .text-center;
  .menu {
    font-size: 30px;
    margin-top:1em;
    a {
      color: $black;
      @extend .smooth;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

// Capabilities
#competencies {
  background: $white;
  @extend .padded;
  > .row:first-child .row {
      margin-top: 3em;
      margin-bottom: 3em;
  }
  h2 {
    @extend .text-center;
  }
  .badge {
    border-radius: 0;
    margin-right: 1em;
    position: relative;
    top: -2px;
    border: 1px solid $brand-primary;
    &.E {
      background-color: $brand-primary;
      color: $white;
    }
    &.P {
      background-color: lighten($brand-primary, 19%);
      color: $white;
    }
    &.C {
      background-color: lighten($brand-primary, 40%);
      color:  $brand-primary;
    }
    &.N {
      background-color: $white;
      color: $brand-primary;
    }
  }
}

// Footer area
footer {
  background: #0d0d0d;
  color: $black;
  padding-top: 20px;
  padding-bottom: 10px;
}
