
  <!-- Abilities -->
  <section id="abilities" class="expanded">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <h2>Abilities</h2>
      </div>
    </div>

    <div class="row">
      <div class="medium-8 medium-centered columns">
        <h5>Experienced in web/software applications, user interface, advertising prints, industrialized product and interaction designs.</h5>
      </div>
    </div>


    <div class="row">
      <h6 class="small-8 small-centered columns">Development Code</h6>
      <div class="small-8 small-centered columns">
        <ul class="no-bullet row">
          <li class="small-6 medium-3 columns">HTML5</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">CSS3</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">PHP</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">C Sharp</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-1of5.png" />
          </li>
          <li class="small-6 medium-3 columns">jQuery</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Javascript</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Scss/Sass</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Less</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">NPM/NodeJS</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Command Line</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-2of5.png" />
          </li>
          <li class="small-6 medium-3 columns">GulpJS/GruntJS</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-2of5.png" />
          </li>
          <li class="small-6 medium-3 columns">SQL Database</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-1of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Wordpress</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Bootstrap Framework</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Foundation Framework</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Jekyll/Hugo Static Gen</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
        </ul>
      </div>
    </div>


    <div class="row">
      <h6 class="small-8 small-centered columns">Applications Software</h6>
      <div class="small-8 small-centered columns">
        <ul class="no-bullet row">
          <li class="small-6 medium-3 columns">HTML5</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">CSS3</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">PHP</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">C Sharp</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-1of5.png" />
          </li>
          <li class="small-6 medium-3 columns">jQuery</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Javascript</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Scss/Sass</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Less</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">NPM/NodeJS</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Command Line</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-2of5.png" />
          </li>
          <li class="small-6 medium-3 columns">GulpJS/GruntJS</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-2of5.png" />
          </li>
          <li class="small-6 medium-3 columns">SQL Database</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-1of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Wordpress</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Bootstrap Framework</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Foundation Framework</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Jekyll/Hugo Static Gen</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
        </ul>
      </div>
    </div>


    <div class="row">
      <h6 class="small-8 small-centered columns">Multidisiplinary</h6>
      <div class="small-8 small-centered columns">
        <ul class="no-bullet row">
          <li class="small-6 medium-3 columns">HTML5</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">CSS3</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">PHP</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">C Sharp</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-1of5.png" />
          </li>
          <li class="small-6 medium-3 columns">jQuery</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Javascript</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Scss/Sass</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Less</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">NPM/NodeJS</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Command Line</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-2of5.png" />
          </li>
          <li class="small-6 medium-3 columns">GulpJS/GruntJS</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-2of5.png" />
          </li>
          <li class="small-6 medium-3 columns">SQL Database</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-1of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Wordpress</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-3of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Bootstrap Framework</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Foundation Framework</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
          <li class="small-6 medium-3 columns">Jekyll/Hugo Static Gen</li>
          <li class="small-6 medium-3 columns text-right">
            <img src="{{root}}assets/img/rate-4of5.png" />
          </li>
        </ul>
      </div>
    </div>


    </div>
  </section>
