
  <!-- Abilities -->
  <section id="abilities" class="expanded" data-magellan-target="abilities">
    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
        <h2>Abilities</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-8 large-centered columns">
        <h5>Experienced in web/software applications, user interface, print advertising, industrialized product and interaction designs.</h5>
      </div>
    </div>

    
    <div class="row">
      <h6 class="small-10 small-centered medium-8 medium-centered columns">Multidisiplinary</h6>
      <div class="small-10 small-centered medium-10 medium-centered large-8 large-centered  columns">
        <ul class="no-bullet row">
          {{#each abilities.multidisiplinary}} 
          <li class="small-12 medium-6 columns">{{skill}}<img src="{{root}}assets/img/rate-{{rate-url}}of5.png" /></li>
          {{/each}} 
        </ul>
      </div>
    </div>
    

    
    <div class="row">
      <h6 class="small-10 small-centered medium-8 medium-centered columns">Development Code</h6>
      <div class="small-10 small-centered medium-10 medium-centered large-8 large-centered  columns">
        <ul class="no-bullet row">
          {{#each abilities.code}} 
          <li class="small-12 medium-6 columns">{{skill}}<img src="{{root}}assets/img/rate-{{rate-url}}of5.png" /></li>
          {{/each}}
        </ul> 
      </div>
    </div>
    

    
    <div class="row">
      <h6 class="small-10 small-centered medium-8 medium-centered columns">Software Tools</h6>
      <div class="small-10 small-centered medium-10 medium-centered large-8 large-centered columns">
        <ul class="no-bullet row">
          {{#each abilities.software}} 
          <li class="small-12 medium-6 columns">{{skill}}<img src="{{root}}assets/img/rate-{{rate-url}}of5.png" /></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
