<div id="contact" class="expanded">
    <h4>Connect</h4>
    <div class="row">
        <div class="small-10 small-centered medium-8 medium-centered columns">
        <script id="mcjs">
            !function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/0410f4fd314e91a6b3bca24b1/dd83667138f2d55dcc6bbed41.js");
        </script>
        </div>
    </div>
</div>


