  <!-- Awards -->
  <div id="awards" class="expanded">
    <div class="row">
      <div class="small-12 large-5 large-offset-2 large-push-3 columns">
        <h2>Awards</h2>
        <h4>AMA Crystal Awards 2016</h4>
        <ul class="no-bullet">
          <li>Website B2B - In-House cPanel Website Redesign</li>
          <li>Website: Most Improved - B2B cPanel.com</li>
          <li>Microsite: In-House cPanel Conference 2015</li>
          <li>Marketing Campaign: Small Budget cPanel Conference 2015</li>
          <li>Single Event Promotion: B2B cPanel Conference 2015</li>
        </ul>
      </div>
      <div class="show-for-large large-3 large-pull-5 columns end text-center">
        <i class="fi-trophy"></i>
      </div>
    </div>
  </div>
