  <!-- Bio -->
  <div id="bio" class="expanded">
    <div class="row">

      <div class="small-12 medium-5 medium-offset-2 columns">
        <h2>About Me</h2>
        <p><b>My name is Long Duong and I am a UX & Front End Designer based in Houston, TX. I’m a decisive go-getter and contemplative thinker with years of extensive experience in a wide variety of industries ranging from Medical, Sales, to Software business.</b></p>
        <p>Currently, I am working full time at cPanel as a UX Designer. I've worked on projects for large and small businesses, even non-profit organizations, and been fortunate to see my work uncover problems and solve them that impact business and communities. </p>
        <p>You can find me or catch up with my latest work by following the social media below.</p>
      </div>

      <div class="show-for-medium medium-3 columns end gallup">
        <div class="card">
          <img src="{{root}}assets/img/bg-profile.png" class=""/>
          <div class="card-section">
            <h6>Top Five Strengths</h6>
            <ul class="no-bullet">
              <li>Analytical</li>
              <li>Arranger</li>
              <li>Strategic</li>
              <li>Relator</li>
              <li>Responsibility</li>
            </ul>
            <a href="{{root}}assets/docs/Long-GallupReport.pdf" target="_blank" class="button expanded">Long's Gallup Report</a>
          </div>
        </div>
      </div><!-- /.gallup -->

    </div>
  </div><!-- /#bio -->

  <div class="bioSM expanded">
    <div class="row text-center">
      <div class="medium-6 medium-centered columns">
        <ul class="menu expanded">
          <li><a href="https://www.facebook.com/lduongh" target="_blank"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/lduongh" target="_blank"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/lduongh
        " target="_blank"><i class="fi-social-linkedin"></i></a></li>
          <li><a href="https://github.com/longster" target="_blank"><i class="fi-social-github"></i></a></li>
          <li><a href="https://dribbble.com/longster" target="_blank"><i class="fi-social-dribbble"></i></a></li>
          <li><a href="/contact/"><i class="fi-mail"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
