  <!-- Bio -->
  <div id="bio" class="expanded">

    <div class="row">
      <h2 class="small-12 columns">About Me</h2>
    </div>

    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <p>My name is Long Duong and I am a UX Designer based in Houston, TX. I have years of extensive experience in a wide variety of industries ranging from Medical, Sales, to Software business.</p>
        <p>Currently, I am working full time at cPanel as a UX Designer. I've worked on projects for large and small businesses, even non-profit organizations, and been fortunate to see my work impact business and communities. If time permits, I do a little bit of design experimentation on the web and share my learnings/experiences online. I may even squeeze in certain projects to take on. So, feel free to get in touch with me whether you want to know more about me or have a project of your own that needs to be enhanced on the front-end.</p>
      </div>
    </div>

  </div>
