  <!-- Bio -->
  <div id="bio" class="expanded">
    <div class="row">
      <div class="small-12 medium-5 medium-offset-2 columns">
        <h2>About Me</h2>
        <p><i>My name is Long Duong and I am a UX & Front End Designer based in Houston, TX. I have years of extensive experience in a wide variety of industries ranging from Medical, Sales, to Software business.</i></p>
        <p>Currently, I am working full time at cPanel as a UX Designer. I've worked on projects for large and small businesses, even non-profit organizations, and been fortunate to see my work impact business and communities. </p>
        <p>You can find me or catch up with my latest work by following the social media network below.
      </div>
      <div class="show-for-medium medium-3 columns end text-center">
        <i class="fi-torso"></i>
      </div>
    </div>
  </div>

  <div class="bioSM expanded">
    <div class="row text-center">
      <div class="medium-6 medium-centered columns">
        <ul class="menu expanded">
          <li><a href="https://www.facebook.com/lduongh" target="_blank"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/lduongh" target="_blank"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/lduongh
        " target="_blank"><i class="fi-social-linkedin"></i></a></li>
          <li><a href="https://github.com/longster" target="_blank"><i class="fi-social-github"></i></a></li>
          <li><a href="https://dribbble.com/longster" target="_blank"><i class="fi-social-dribbble"></i></a></li>
          <li><a href="/contact/"><i class="fi-mail"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
