<!-- Careers -->
<div id="careers" class="expanded varBG">

  <div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
      <h2>Resume</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-8 large-centered columns">
      <h5>Experienced in web/software applications, user interface, advertising prints, industrialized product and interaction designs.</h5>
    </div>
  </div>

  <div class="row gap-top">
    <div class="large-6 large-offset-2 columns key">

      <h6>Key Experiences</h6>
      <ul class="no-bullet">
        <li>Identify and understand business issues to provide effective solutions to solve key design challenges in existing user interface that focuses on maintaining internal and external business continuity and efficient functionality.</li>
        <li>Participate and colloborate with clients, software developers, project manager, and researchers to refine the user experience in concept development and detailed specification of visual designs for user interfaces.</li>
        <li>Optimize visual designs and user interface/form design to address business, brand, market and user requirements (including storyboard, prototype, design, and production of screen layouts, color palettes, typography, and interface elements).</li>
        <li>Develop and improve performance and scalability through clean and minified code.</li>
        <li>Execute, perform, and anaylize qualitive usability testing.</li>
        <li>Experience in Agile Development approach & Scrum management methodologies.</li>
        <li>Develop, execute, and maintain web applications and software test plans, designs, and cases.</li>
        <li>Manage and maintain annual budgets, logistics, schedules and quality constraints for multiple projects totaling $300,000.</li>
      </ul>
    </div>


    <div class="large-3 columns end">
      <h6>References</h6>
      <ul class="no-bullet">
        <li class="gap-bot">
          <b>id="Stephen-Brent-May"</b><br/>
          T: Product Owner<br/>
          E: @gmail.com
        </li>
        <li class="gap-bot">
          <b>id="Barbara-Aquino"</b><br/>
          T: Business Owner<br/>
          E: @gmail.com
        </li>
        <li class="gap-bot">
          <b>id="Clarissa-Marshal"</b><br/>
          T: Event Coordinator<br/>
          E: @gmail.com
        </li>
        <li class="gap-bot">
          <b>id="Oswald-Rodriguez"</b><br/>
          T: Project Manager<br/>
          E: oswaldob@gmail.com
        </li>
      </ul>
    </div>
  </div>

  <div class="row gap-top">
    <div class="small-10 small-centered medium-8 medium-centered columns">
      <h6>Career History</h6>
    </div>
  </div>


  <div class="row history">
    <div class="small-10 small-centered medium-8 medium-centered columns">

      <div class="row">
        <div class="large-3 columns">
          <p>Jun 2011 - Present</p>
        </div>
        <div class="large-9 columns">
          <p><b>cPanel, Inc.</b><span class="float-right">UX / UI Designer</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Jan 2005 - Dec 2013</p>
        </div>
        <div class="large-9 columns">
          <p><b>BE7A LLC</b><span class="float-right">Co-Founder</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Oct 2007 - Jun 2011</p>
        </div>
        <div class="large-9 columns">
          <p><b>Lloyd’s Register Technical Services</b><span class="float-right">UI/Web Developer</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Feb 2007 - Jul 2007</p>
        </div>
        <div class="large-9 columns">
          <p><b>Ansh Labs LLC</b><span class="float-right">UX Engineer</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Jul 2001 - Oct 2007</p>
        </div>
        <div class="large-9 columns">
          <p><b>Beckman Coulter</b><span class="float-right">Web/Graphic Designer</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Jun 1999 - Jul 2001</p>
        </div>
        <div class="large-9 columns">
          <p><b>MegaMania Interactive Inc.</b><span class="float-right">Web Developer</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Jun 1999 - Sept 1999</p>
        </div>
        <div class="large-9 columns">
          <p><b>Houston Creative Connections</b><span class="float-right">Graphic Designer</span></p>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <p>Jul 1997 - Jun 1999</p>
        </div>
        <div class="large-9 columns">
          <p><b>Silver Express Fine Sterling Silver</b><span class="float-right">Graphic/Product Designer</span></p>
        </div>
      </div>

    </div>
  </div>


  <div class="row gap-top">
    <div class="small-8 small-centered columns">
      <hr data-content="/" />
    </div>
  </div>


</div>
