
  <!-- Competencies -->
  <section id="competencies" class="expanded">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <h2>Competencies</h2>
        <div class="row">
          <div class="large-3 columns">
            <span class="badge">E</span>Expert
          </div>
          <div class="large-3 columns">
            <span class="badge">P</span>Proficient
          </div>
          <div class="large-3 columns">
            <span class="badge">C</span>Competent
          </div>
          <div class="large-3 columns">
            <span class="badge">N</span>Novice
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-3 columns">
        <h4>Code</h4>
        <ul class="no-bullet">
          <li><span class="badge">E</span>HTML5</li>
          <li><span class="badge">E</span>SCSS & CSS</li>
          <li><span class="badge">E</span>PHP</li>
          <li><span class="badge">E</span>C Sharp</li>
          <li><span class="badge">E</span>JQuery</li>
          <li><span class="badge">E</span>YUI</li>
        </ul>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <h4>Applications</h4>
        <ul class="no-bullet">
          <li><span class="badge">E</span>Photoshop</li>
          <li><span class="badge">E</span>Illustrator</li>
          <li><span class="badge">E</span>Experience Design</li>
          <li><span class="badge">E</span>Indesign</li>
          <li><span class="badge">E</span>Item</li>
          <li><span class="badge">E</span>Item</li>
        </ul>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <h4>Dev Tools</h4>
        <ul class="no-bullet">
        <li><span class="badge">E</span>Item</li>
        <li><span class="badge">E</span>Item</li>
        <li><span class="badge">E</span>Item</li>
        <li><span class="badge">E</span>Item</li>
        <li><span class="badge">E</span>Item</li>
        <li><span class="badge">E</span>Item</li>
        </ul>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <h4>Multidisciplinary</h4>
        <ul class="no-bullet">
          <li><span class="badge">E</span>Cross-Device Design</li>
          <li><span class="badge">E</span>Rapid Prototype</li>
          <li><span class="badge">E</span>Grid Based Layout</li>
          <li><span class="badge">E</span>Typography</li>
          <li><span class="badge">E</span>Info Architectur</li>
          <li><span class="badge">P</span>Responsive Design</li>
        </ul>
      </div>
    </div>
  </section>
