<div id="contact" class="expanded">
  <h4>Connect</h4>
  <div class="row">
    <div class="medium-8 medium-centered columns">
      <form method="POST" action="http://formspree.io/lhd73@outlook.com">
        <div class="row">
          <div class="medium-6 columns">
            <label>What's your name?
              <input type="text" placeholder="Your Name">
            </label>
          </div>
          <div class="medium-6 columns">
            <label>Where can I reach you?
              <input type="email" name="_replyto" placeholder="Email Address">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>What would you like to talk about?
              <input type="text" placeholder="Subject">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>How can I help you?
              <textarea name="message" placeholder="Message" rows="10"></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 medium-centered columns">
            <button class="button expanded" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
