  <!-- Services -->
  <div id="services" class="">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <img src="{{root}}assets/img/point-dev.png" />
        <h3>Design & Development.</h3>
        <p>Fully capable of conceptualize to implementation for desktop, mobile & web. Anywhere from simple ideas to large projects.</p>
      </div>
      <div class="small-12 medium-4 columns">
        <img src="{{root}}assets/img/point-analysis.png" />
        <h3>Behavior Analysis.</h3>
        <p>Using usability research and detail oriented design to enhance the engagement between human and computer as well as business and customer.</p>
      </div>
      <div class="small-12 medium-4 columns">
        <img src="{{root}}assets/img/point-versatile.png" />
        <h3>Absolute Versatility.</h3>
        <p>Extensive experience in designing web/software applications, user interface, advertising prints, industrialized product and interaction designs.</p>
      </div>
    </div>
  </div>
