  <!-- Portfolio -->
  <section id="folio" class="expanded">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <h2>Latest Case Studies</h2>
      </div>
    </div>
    <!--#each portfolio-->
    <div class="row">
      <div class="large-12 large-centered columns">
        <!--img src="{{ this }}"-->
        <img src="https://placehold.it/2000x750&amp;text=1" />
      </div>
    </div>


    <div class="row">
      <div class="large-12 large-centered columns">
        <img src="https://placehold.it/2000x750&amp;text=2" />
      </div>
    </div>


    <div class="row">
      <div class="large-12 large-centered columns">
        <img src="https://placehold.it/2000x750&amp;text=3" />
      </div>
    </div>


    <div class="row">
      <div class="large-12 large-centered columns">
        <img src="https://placehold.it/2000x750&amp;text=4" />
      </div>
    </div>
  <!--/each-->

  </section>
