  <footer>

    <div class="row">
      <div class="medium-6 medium-centered columns">
        <h5>Stalk Me</h5>
        <ul class="menu expanded">
          <li><a href="https://www.facebook.com/lduongh" target="_blank"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/lduongh" target="_blank"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/lduongh
  " target="_blank"><i class="fi-social-linkedin"></i></a></li>
          <li><a href="https://github.com/longster" target="_blank"><i class="fi-social-github"></i></a></li>
          <li><a href="https://dribbble.com/longster" target="_blank"><i class="fi-social-dribbble"></i></a></li>
          <li><a href="/contact/"><i class="fi-mail"></i></a></li>
        </ul>
      </div>
    </div>

    <hr class="dark"/>

    <div class="row misc">
      <div class="medium-5 columns links">
        <a href="/resume/">Resume</a> / <a href="/cases/">Case Studies</a> / <a href="/contact/">Contact</a>
      </div>
      <div class="medium-2 columns">
        <a href="/">
          <svg viewBox="0 0 150 153.8" class="logo">
            <title>Long Duong</title>
            <path class="lduong" d="M58,82.7c0,0,3,16,25,16v28.1c-21,0-52.8-14.2-52.8-44.3c0-7.1,0.1-13.5,0.1-19.3L0,93.5c0,0.2,0.1,0.3,0.1,0.5L0,93.9v59.9h92.1L92,71c0,0-3-16-25-16V26.9c20,0,52.8,14.2,52.8,44.3c0,6.9-0.1,13.2-0.1,18.9L150,59.9l0,0l0,0V0H57.9L58,82.7z"/>
          </svg>
        </a>
      </div>
      <div class="medium-5 columns copyright">
        <p>Copyright © 2017 / Long Duong</p>
      </div>
    </div>
  </footer>

  <script src="http://quotesondesign.com/api/3.0/api-3.0.js" type="text/javascript" charset="utf-8"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18429848-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script src="{{root}}assets/js/app.js"></script>
