  <div  id="hero" class="expanded">
    <!--img
         src="http://web.frfr.me/dev/full-screen-image/image-1000w.jpg"
         srcset="http://web.frfr.me/dev/full-screen-image/image-500w.jpg 500w, http://web.frfr.me/dev/full-screen-image/image-1000w.jpg 1000w, http://web.frfr.me/dev/full-screen-image/image-1500w.jpg 1500w, http://web.frfr.me/dev/full-screen-image/image-2000w.jpg 2000w, http://web.frfr.me/dev/full-screen-image/image-2500w.jpg 2500w, http://web.frfr.me/dev/full-screen-image/image-3000w.jpg 3000w"
         sizes="(max-aspect-ratio: 3/2) calc(100vh * (3 / 2)), 100vw" -->
    <!-- nav}} -->
    <!-- Hero -->
    <div class="row text-center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 150 153.8" style="enable-background:new 0 0 150 153.8;" xml:space="preserve" class="logo-intro">
         <title>Long Duong</title>
        <g id="Layer_2">
          <g id="Layer_1-2">
            <path class="lduong" d="M58,82.7c0,0,3,16,25,16v28.1c-21,0-52.8-14.2-52.8-44.3c0-7.1,0.1-13.5,0.1-19.3L0,93.5
              c0,0.2,0.1,0.3,0.1,0.5L0,93.9v59.9h92.1L92,71c0,0-3-16-25-16V26.9c20,0,52.8,14.2,52.8,44.3c0,6.9-0.1,13.2-0.1,18.9L150,59.9
              l0,0l0,0V0H57.9L58,82.7z"/>
          </g>
        </g>
      </svg>
    </div>
    <div class="row text-center">
      <div class="large-12 columns">
        <h1>LONG</h1>
        <h1>DUONG</h1>
        <h5>UX &amp; Front End Designer</h5>
      </div>
    </div>
  </div>
