
<header id="hero" class="expanded">
  <div class="valign">

    <svg viewBox="0 0 150 153.8"  class="logo-hero">
      <title>Long Duong</title>
      <path class="lduong" d="M58,82.7c0,0,3,16,25,16v28.1c-21,0-52.8-14.2-52.8-44.3c0-7.1,0.1-13.5,0.1-19.3L0,93.5c0,0.2,0.1,0.3,0.1,0.5L0,93.9v59.9h92.1L92,71c0,0-3-16-25-16V26.9c20,0,52.8,14.2,52.8,44.3c0,6.9-0.1,13.2-0.1,18.9L150,59.9l0,0l0,0V0H57.9L58,82.7z"/>
    </svg>

    <h1>LONG DUONG</h1>
    <h5>UX &amp; Front End Designer</h5>
    <a href="#profile" class="scroll">
      <div class="scroll-down-dude"></div>
    </a>

  </div>

  <a href="#profile" class='scroll hide'>
    <svg viewBox="0 0 26 16">
      <polyline points="24.9,1.5 13,13.4 1.1,1.5 " />
    </svg>
  </a>
</header>
