  <!-- Profile -->
  <div id="profile" class="expanded">
    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
          <h2>Profile</h2>
      </div>
    </div>
    <div class="row gap-top">

      <div class="large-4 columns show-for-large">
        <img src="{{root}}assets/img/profile.png" />
      </div>
      <div class="large-8 columns">
        <h5>My name is Long Duong and I am a UX & Front End Designer based in Houston, TX. I’m a decisive go-getter and contemplative thinker with years of extensive experience in a wide variety of industries ranging from Medical, Sales, to Software business.</h5>
        <div class="row">
          <div class="small-4 medium-2 columns">
            <img src="{{root}}/assets/img/icon-research.png" class="icon" />
          </div>
          <div class="small-8 medium-4 columns">
            <h6>Research Driven</h6>
            <p>Identify challenges and opportunities to deliver the results built on trust and shared understanding of business priorities and goals.</p>
          </div>

            <div class="small-4 medium-2 columns">
            <img src="{{root}}/assets/img/icon-prototype.png" class="icon"/>
            </div>
            <div class="small-8 medium-4 columns">
              <h6>Rapid Prototype</h6>
              <p>From paper, interactive prototypes to mockups including page layout and navigational elements to integrate site concept, visual design, interface, and navigational structure and processes.</p>
            </div>
        </div>


        <div class="row">
          <div class="small-4 medium-2 columns">
          <img src="{{root}}/assets/img/icon-infoarch.png" class="icon"/>
          </div>
          <div class="small-8 medium-4 columns">
            <h6>Info Architecture</h6>
            <p>Design and implement information structure by studying the concept, strategy, and target audience; envisioning architectural scheme, structure and features, functionality, navigation; evaluating information representation.</p>
          </div>

            <div class="small-4 medium-2 columns">
              <img src="{{root}}/assets/img/icon-ui.png" class="icon"/>
            </div>
            <div class="small-8 medium-4 columns">
              <h6>User Interface</h6>
              <p>An eye for a clean and simple design with the ability to define and translate high-level requirements into interaction flows and artifacts, and transform them into beautiful, intuitive, and functional user interfaces.</p>
            </div>
        </div>

        <div class="row">
          <div class="small-4 medium-2 columns">
            <img src="{{root}}/assets/img/icon-ux.png" class="icon"/>
          </div>
          <div class="small-8 medium-4 columns">
            <h6>User Experience</h6>
            <p>An essential part of process through empirical observation using both qualitative and quantitive data to identify user needs, pain points, and opportunities to unite user and business value proposition.</p>
          </div>

            <div class="small-4 medium-2 columns">
            <img src="{{root}}/assets/img/icon-webdev.png" class="icon"/>
            </div>
            <div class="small-8 medium-4 columns">
              <h6>Development</h6>
              <p>Extensive knowledge of current tools necessary for web development and design including applications, software, and technologies such as Front End Frameworks, Responsive Web Design, HTML 5, Sass/Scss, jQuery, and more.</p>
            </div>
        </div>
      </div>



    </div>
  </div><!-- /#profile -->

  <div class="bioSM expanded hide">
    <div class="row text-center">
      <div class="medium-6 medium-centered columns">
        <ul class="menu expanded">
          <li><a href="https://www.facebook.com/lduongh" target="_blank"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/lduongh" target="_blank"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/lduongh
        " target="_blank"><i class="fi-social-linkedin"></i></a></li>
          <li><a href="https://github.com/longster" target="_blank"><i class="fi-social-github"></i></a></li>
          <li><a href="https://dribbble.com/longster" target="_blank"><i class="fi-social-dribbble"></i></a></li>
          <li><a href="/contact/"><i class="fi-mail"></i></a></li>
        </ul>
      </div>
    </div>
  </div>




  <div class="show-for-medium medium-3 columns end gallup hide">
    <div class="card">
      <img src="{{root}}assets/img/bg-profile.png" class=""/>
      <div class="card-section">
        <h6>Top Five Strengths</h6>
        <ul class="no-bullet">
          <li>Analytical</li>
          <li>Arranger</li>
          <li>Strategic</li>
          <li>Relator</li>
          <li>Responsibility</li>
        </ul>
        <a href="{{root}}assets/docs/Long-GallupReport.pdf" target="_blank" class="button expanded">Long's Gallup Report</a>
      </div>
    </div>
  </div><!-- /.gallup -->
