  <!-- Portfolio -->
  <section id="projects" class="expanded">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <h2>Projects</h2>
      </div>
    </div>

    <div class="row ">
      <div class="small-12 medium-6 columns">
        <!--img src="{{ this }}"-->
        <img src="https://placehold.it/2000x750&amp;text=1" />
      </div>
      <div class="small-12 medium-6 columns">
        <img src="https://placehold.it/2000x750&amp;text=2" />
      </div>
      <div class="small-12 medium-6 columns">
        <img src="https://placehold.it/2000x750&amp;text=3" />
      </div>
      <div class="small-12 medium-6 columns">
        <img src="https://placehold.it/2000x750&amp;text=4" />
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns text-center">
        <h5>Check out other projects that I’m working on</h5>
      </div>
      <div class="small-6 medium-4 medium-offset-2 columns">
        <a href="https://github.com/longster" class="button large expanded" target="_blank"><i class="fi-social-github"></i> Github</a>
      </div>
      <div class="small-6 medium-4 columns end">
        <a href="https://dribbble.com/longster" class="button large expanded" target="_blank"><i class="fi-social-dribbble"></i> Dribbble</a>
      </div>
    </div>

  </section>
  <!-- /Portfolio -->
