  <!-- Resume -->
  <div id="resume" class="expanded varBG">
    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
        <h2>Resume</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-8 large-centered columns">
        <h5>Experienced in web/software applications, user interface, advertising prints, industrialized product and interaction designs.</h5>
      </div>
    </div>

    <div class="row gap-top">
      <div class="small-10 small-centered medium-8 medium-centered columns">
        <div class="row">
          <div class="large-9 large-offset-3 columns">
            <h6>Careers</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-centered medium-8 medium-centered columns">

        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p><span class="">UX / UI Designer</span> Jun 2011 - Present</p>
                </div>
                <div class="large-9 columns">
                  <p><b>cPanel, Inc.</b></p>
                  <p>Provide web hosting software that automates the intricate workings of web hosting servers.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Lead & collaborate usability research, information structure, wireframe prototype, design, develop, and maintain more than 15 websites and 2 software applications.</li>
                    <li>Perform and analyze A/B Testing stats.</li>  <li>Design, develop & assemble general user experience library to unify a consistent brand and improve how teams build experiences.</li>
                    <li>Continually optimize and automate digital communication for both internal & external stakeholders.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>


          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>Co-Founder<br/>Jan 2005 - Dec 2013</p>
                </div>
                <div class="large-9 columns">
                  <p><b>BE7A LLC</b></p>
                  <p>A part time consultant and lead designer.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Led the creative vision, user experience, and web development.</li>
                    <li>Managed web development & architected website redesign in Wordpress.</li>
                    <li>Successfully built a community of thousands of unique visitors on a minimal budget.</li>
                    <li>Analyzed stats and optimized features for conversion and usability.</li>
                    <li>Catered to over 15 clients life-to-date.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>



          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>UI/Web Developer<br/>Oct 2007 - Jun 2011</p>
                </div>
                <div class="large-9 columns">
                  <p><b>Lloyd’s Regsiter Technical Services</b></p>
                  <p>A risk-based asset management and task plan strategies.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Lead UI developer for Arivu & Arivu Modelor - an asset maintenance plan based on web application technology for Energy business sector. </li>
                    <li>Develop, maintain, and improve   usability and accessibility of modules, administrative interface, and overall structure workflow.</li>
                    <li>Developed and customized CSS templates framework to accomodate business’ brand.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>



          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>UX Engineer<br/>Feb 2007 - Jul 2007</p>
                </div>
                <div class="large-9 columns">
                  <p><b>Ansh Labs LLC</b></p>
                  <p>Medical Devices Industry</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Researched, analyzed, and developed user experience design of medical devices software, instrumentation interfaces, web, and mobile application.</li>
                    <li>Defined and improved information/visual architecture.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>



          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>Web/Graphic Designer<br/>Jul 2001 - Oct 2007</p>
                </div>
                <div class="large-9 columns">
                  <p><b>Beckman Coulter - Diagnostic Systems Labs</b></p>
                  <p>A specialty technology for reproductive endocrinology and cardiovascular risk assessment.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Successfully implemented over 20 internet and email marketing campaigns.</li>
                    <li>Managed $150,000 - $300,000 budget with over 20 publishers, 15 exhibit meetings, and 10 online advertising campaigns.</li>
                    <li>Designed and distributed over 15,000 product catalogs and listings on yearly basis.</li>
                    <li>Conceptualized and designed instrumentation and package design from initial stage to final products.</li>
                    <li>Designed and improved software Graphic User Interface (GUI), web-based applications, component designs, site navigation, and keypad user interfaces.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>



          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>Web Developer<br/>Jun 1999 - Jul 2001</p>
                </div>
                <div class="large-9 columns">
                  <p><b>MegaMania Interactive Inc.</b></p>
                  <p>A web design services, ecommerce solutions, application development and hosting services provider.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Collaborated on developing, designing, improving, and hand-coding the infrastructure of 123city.net (geographic local search engine).</li>
                    <li>Established, customized & implemented internet/intranet solutions on variety projects.</li>
                    <li>Designed more than 25 web base templates, 30 banner/billboard ads, and 10 electronic animated greeting cards.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>



          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>Graphic Designer<br/>Jun 1999 - Sept 1999</p>
                </div>
                <div class="large-9 columns">
                  <p><b>Houston Creative Connections (Known as Aquent)</b></p>
                  <p>A professional services firm in helping companies to make use of people, processes, and tech more effectively.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content hide" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul>
                    <li>Something here</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>



          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">
              <div class="row">
                <div class="large-3 columns">
                  <p>Graphic Designer<br/>Jul 1997 - Jun 1999</p>
                </div>
                <div class="large-9 columns">
                  <p><b>Silver Express Fine Sterling Silver</b></p>
                  <p>A manufacturer of sterling silver, stone and bead jewelry.</p>
                </div>
              </div>
            </a>
            <div class="accordion-content" data-tab-content>
              <div class="row">
                <div class="large-9 large-offset-3 columns">
                  <ul class="hide">
                    <li>Something here</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>


      </div>
    </div>


    <div class="row">
      <div class="small-8 small-centered columns">
        <hr data-content="/"/>
      </div>
    </div>


    <div class="row gap-top">
      <div class="small-10 small-centered medium-8 medium-centered columns">
        <div class="row">
          <div class="large-9 large-offset-3 columns">
            <h6>Conferences <span class="varColorText">+</span> Training <span class="varColorText">+</span> Education</h6>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>Sept 2016</p>
          </div>
          <div class="large-9 columns">
            <p><b>Mozcon / Digital Marketing</b> - Seatle, WA</p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>Nov 2015</p>
          </div>
          <div class="large-9 columns">
            <p><b>Future of Web Design</b> - New York City, NY</p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>Sept 2013</p>
          </div>
          <div class="large-9 columns">
            <p><b>User Experience Training / Kelsey Ruger</b> - Houston, TX</p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>March 2010 & 2011</p>
          </div>
          <div class="large-9 columns">
            <p><b>South by SouthWest Interactive (SXSWi)</b> - Austin, TX</p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>Oct 2008</p>
          </div>
          <div class="large-9 columns">
            <p><b>User Interface Engineering (UIE) Conference</b> - Boston, MA</p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>May 1996</p>
          </div>
          <div class="large-9 columns">
            <p><b>Bachelor of Fine Arts / Industrial Deign / RIT</b> - Rochester, NY</p>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="small-8 small-centered columns">
        <hr data-content="/"/>
      </div>
    </div>


    <div class="row gap-top">
      <div class="small-10 small-centered medium-8 medium-centered columns">
        <div class="row">
          <div class="large-9 large-offset-3 columns">
            <h6>Recognitions <span class="varColorText">+</span> Awards <span class="varColorText">+</span> Contributions</h6>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>June 2016</p>
          </div>
          <div class="large-9 columns">
            <p><b>Free cP Starter Style: Light & Dark cPanel UI Dashboard</b> / <a href="https://blog.cpanel.com/free-cp-starter-style/">Source article</a></p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>Nov 2015</p>
          </div>
          <div class="large-9 columns">
            <b>AMA Crystal Awards</b> / <a href="https://blog.cpanel.com/as-clear-as-crystal-award-winning-marketing/">Source article</a>
            <ul class="no-bullet">
              <li>Website B2B - In-House cPanel Website Redesign</li>
              <li>Website: Most Improved - B2B cPanel.com</li>
              <li>Microsite: In-House cPanel Conference 2015</li>
              <li>Marketing Campaign: Small Budget cPanel Conference 2015</li>
              <li>Single Event Promotion: B2B cPanel Conference 2015</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <p>Sept 2013</p>
          </div>
          <div class="large-9 columns">
            <p><b>cPanel Branding Basics: A Guide for Reseller Hosts</b> / <a href="https://blog.cpanel.com/cpanel-branding-basics-a-guide-for-reseller-hosts/">Source article</a></p>
          </div>
        </div>

        <div class="row gap-top hide">
          <div class="large-6 large-centered columns">
            <a href="#" class="button large expanded"><i class="fi-download"></i> Download Resume</a>
          </div>
        </div>

      </div>
    </div>




    <div class="row gap-top hide">
      <div class="large-3 columns">
      </div>
      <div class="large-9 columns">
        <h5>&lt;key-highlights<span class="varColorText">/</span>&gt;</h5>
      </div>
    </div>

    <div class="row hide">
      <div class="large-9 columns">
        <p>Identify and understand business issues to provide effective solutions to solve key design challenges in existing user interface that focuses on maintaining internal and external business continuity and efficient functionality.</p>
        <p>Participate and colloborate with clients, software developers, project manager, and researchers to refine the user experience in concept development and detailed specification of visual designs for user interfaces.</p>
        <p>Optimize visual designs and user interface/form design to address business, brand, market and user requirements (including storyboard, prototype, design, and production of screen layouts, color palettes, typography, and interface elements).</p>
        <p>Develop and improve performance and scalability through clean and minified code.</p>
        <p>Execute, perform, and anaylize qualitive usability testing.</p>
        <p>Experience in Agile Development approach & Scrum management methodologies.</p>
        <p>Develop, execute, and maintain web applications and software test plans, designs, and cases.</p>
        <p>Manage and maintain annual budgets, logistics, schedules and quality constraints for multiple projects totaling $300,000.</p>
      </div>
    </div>


    <div class="large-3 columns hide">
      <h5>&lt;references<span class="varColorText">/</span>&gt;</h5>
      <ul class="no-bullet">
        <li class="gap-bot">
          <b>id="Stephen-Brent-May"</b><br/>
          T: Product Owner<br/>
          E: @gmail.com
        </li>
        <li class="gap-bot">
          <b>id="Barbara-Aquino"</b><br/>
          T: Business Owner<br/>
          E: @gmail.com
        </li>
        <li class="gap-bot">
          <b>id="Clarissa-Marshal"</b><br/>
          T: Marketing Event Coordinator<br/>
          E: @gmail.com
        </li>
        <li class="gap-bot">
          <b>id="Oswald-Rodriguez"</b><br/>
          T: Project Manager<br/>
          E: oswaldob@gmail.com
        </li>
      </ul>
    </div>


  </div>
  <!-- /Resume -->
