  <div id="specialized" class="expanded">

    <div class="row">
      <h2 class="small-12 columns">Specialities</h2>
      <h3 class="large-12 columns">Creativity <span class="swapColorText">+</span> Interaction <span class="swapColorText">+</span> Experience <span class="swapColorText">+</span> Business</h3>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <i class="fi-graph-trend"></i>
        <h5>Research Driven</h5>
        <p>From asking questions, understanding your audience's role, to business objectives, I identify challenges and opportunities to deliver the results built on trust and shared understanding of our priorities and goals.</p>
      </div>

      <div class="medium-4 columns">
        <i class="fi-lightbulb"></i>
        <h5>Conceptualize</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div class="medium-4 columns">
        <i class="fi-layout"></i>
        <h5>Information Architecture</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <i class="fi-thumbnails"></i>
        <h5>User Interface</h5>
        <p>Creating and defining visual language that will make or break your success.</p>
      </div>

      <div class="medium-4 columns">
        <i class="fi-results"></i>
        <h5>User Experience</h5>
        <p>An essential part of process through empirical observation or/and use qualitative and quantitive metric to identify user needs, pain points, and opportunities to unite user and business value proposition.</p>
      </div>

      <div class="medium-4 columns">
        <i class="fi-asterisk"></i>
        <h5>Front End Development</h5>
        <p>Extensive experience in designing web/software applications, user interface, advertising prints, industrialized product and interaction designs.</p>
      </div>
    </div>

  </div>
