  <div id="specialities" class="expanded">

    <div class="row">
      <h2 class="small-12 columns">Specialities</h2>
      <h4 class="large-12 columns">Creativity <span class="varColorText">+</span> Interaction <span class="varColorText">+</span> Experience <span class="swapColorText">+</span> Business</h4>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <!--i class="fi-graph-trend"></i-->
        <img src="{{root}}/assets/img/icon-research.png" width="125px"/>
        <h5>Research Driven</h5>
        <p>Forming questions, understanding your audience's role, and defining business objectives; Identify challenges and opportunities to deliver the results built on trust and shared understanding of business priorities and goals.</p>
      </div>

      <div class="medium-4 columns">
        <!--i class="fi-lightbulb"></i-->
        <img src="{{root}}/assets/img/icon-prototype.png" width="125px"/>
        <h5>Rapid Prototype</h5>
        <p>From paper, interactive prototypes to mockups including page layout and navigational elements to integrate site concept, visual design, interface, and navigational structure; documenting structure and processes.</p>
      </div>

      <div class="medium-4 columns">
        <!--i class="fi-layout"></i-->
        <img src="{{root}}/assets/img/icon-infoarch.png" width="125px"/>
        <h5>Information Architecture</h5>
        <p>Design and implement information structure by studying the concept, strategy, and target audience; envisioning architectural scheme, information structure and features, functionality, navigation; evaluating information representation.</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <!--i class="fi-thumbnails"></i-->
        <img src="{{root}}/assets/img/icon-ui.png" width="125px"/>

        <h5>User Interface</h5>
        <p>An eye for a clean and simple design with the ability to define and translate high-level requirements into interaction flows and artifacts, and transform them into beautiful, intuitive, and functional user interfaces.</p>
      </div>

      <div class="medium-4 columns">
        <!--i class="fi-results"></i-->
        <img src="{{root}}/assets/img/icon-ux.png" width="125px"/>
        <h5>User Experience</h5>
        <p>An essential part of process through empirical observation using both qualitative and quantitive data to identify user needs, pain points, and opportunities to unite user and business value proposition.</p>
      </div>

      <div class="medium-4 columns">
        <!--i class="fi-asterisk"></i-->
        <img src="{{root}}/assets/img/icon-webdev.png" width="125px"/>
        <h5>Front End Development</h5>
        <p>Extensive knowledge of current tools necessary for web development and design including applications, software, and technologies such as Front End Frameworks, Responsive Web Design, HTML 5, Sass/Scss, jQuery, and more.</p>
      </div>
    </div>

  </div>
