// Custom variables
@mixin padding($padding) {
  padding: $padding;
}
@mixin backgrounds(){
  background-attachment: fixed;
  background-size: cover!important;
  background-position: center;
  background-blend-mode: screen;
}
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


// Theme global
html, body {
  background: $white;
}
a, button, .lduong {
  @extend .smooth;
}
.varColorText {
  color: $brand-primary;
}
.varColorBG {
  background: $dark-gray;
  color: $white;
}
.varBG {
  background: $white;
}
::-moz-selection {
  background: $brand-primary;
  color: $white;
  text-shadow: none;
}
::selection {
  background: $brand-primary;
  color: $white;
  text-shadow: none; }
:focus {
  outline: -webkit-focus-ring-color
  auto 5px;
  outline-color: $brand-primary;
}
blockquote {
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: $white;
  border-left: 0;
  p {
    color: $white;
  }
}
.border {
  border:1px solid $light-gray;
}
.smooth {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.block {
  display: block;
}
h1 {
  font-size: 70px;
  line-height: 1;
  letter-spacing: -5px;
  padding-bottom: .15em;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background: $brand-primary;
    left: 50%;
    margin: 21px 0 0 -22.5px;
  }
}
h2 {
  font-size: 50px;
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: -2px;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background: $brand-primary;
    left: 3%;
    margin: 13px 0 .35em -22.5px;
  }
  @include breakpoint(small only) {
    &:after {
      margin-left: -7px;
    }
  }
  @include breakpoint(medium only) {
    &:after {
      margin-left: -10px;
    }
  }
}
h4 {
  font-size: 30px;
  font-family: $body-font-family;
  text-transform: uppercase;
  letter-spacing: -2px;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 45px;
    height: 3px;
    background: $brand-primary;
    left: 50%;
    margin: 13px 0 1.35em -22.5px;
  }
}
h3, h4, h5, h6 {
  font-family: $body-font-family;
  letter-spacing: -.015rem;
}
h6 {
  font-size: 120%;
  text-transform: uppercase;
}
hr {
  margin:0 auto;
  border-color: $black;
  line-height: 1;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  font-weight: 100;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, $light-gray, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1;
    color: $brand-primary;
    background-color: $white;
    position: relative;
    top: -17px;
    font-size: 30px;
  }
  &.dark:before {
    content: '';
    background: linear-gradient(to right, transparent, $dark-gray, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
}
[type='text'], [type='password'],
[type='date'], [type='datetime'],
[type='datetime-local'], [type='month'],
[type='week'], [type='email'],
[type='number'], [type='search'],
[type='tel'], [type='time'], [type='url'],
[type='color'], textarea,
[type='text']:focus, [type='password']:focus,
[type='date']:focus, [type='datetime']:focus,
[type='datetime-local']:focus, [type='month']:focus,
[type='week']:focus, [type='email']:focus,
[type='number']:focus, [type='search']:focus,
[type='tel']:focus, [type='time']:focus,
[type='url']:focus, [type='color']:focus,
textarea:focus {
  @extend .smooth;
}



// Hero area
#hero  {
  //height: 100vh;
  background-color: $black;
  text-align: center;
  h1 {
    color: $white;
    &:after {
      height: 5px;
      left: 50%;
    }
  }
  h5 {
    color: $white;
  }
}
/*.valign {
  display: inline-block;
  @include vertical-align();
}*/
.logo-hero {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.lduong {
  fill: $white;
}

$strokeWidth: 4px;
$strokeColor: white;

$timing: 2.6s;
// $easing: ease-in-out;
$easing: cubic-bezier(0.77, 0, 0.175, 1);

.scroll-down-dude {
  margin-top: 20px;
}
.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
  display: block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: $strokeWidth solid $strokeColor;
	border-right: $strokeWidth solid $strokeColor;
  margin-left: auto;
  margin-right: auto;
}

.scroll-down-dude:before {
	animation: down-arrow-before $timing $easing infinite;
}

.scroll-down-dude:after {
	animation: down-arrow-after $timing $easing infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}



[data-sticky] {
  width: 100%;
}



// Projects area
#projects {
  @include padding(6rem 0);
  h5 {
    margin-bottom: 1.5rem;
  }
  img {
    margin-bottom: 2rem;
    border-bottom: 1px solid lighten($light-gray, 25%);
  }
  .row:last-child {
    padding-top: 2rem;
  }
  .fade-in {
    @include mui-fade(in, $duration: 1s);
  }
  .fade-out {
    @include mui-fade(out, $duration: 1s);
  }
}
.close-button {
  position: fixed;
  right: 2.25rem !important;
  top: 5.25rem !important;
  font-size: 1.5em;
  border: 1px solid $brand-primary;
  background-color: $white;
  padding: .75rem 1rem;
  color: $brand-primary;
  &:hover {
    color: darken($brand-primary,10%)!important;
  }
}
